<div *ngIf="loaded" class="row p-3 text-dark infocrise-component">
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body" [class.bg-danger]="infocrise.nuclear != 'good'">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-fluid" src="../../../../assets/icons/nuclear.svg" alt="nuclear icon"/>
          </div>
          <div class="col-sm-9 text-center">
            <h5 class="crisis-text" >Nuklearen Noutfall</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body" [class.bg-danger]="infocrise.cbrn != 'good'">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-fluid" src="../../../../assets/icons/cbrn.svg" alt="cbrn icon"/>
          </div>
          <div class="col-sm-9 text-center">
            <h5 class="crisis-text" >CBRN</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body" [class.bg-danger]="infocrise.weather != 'good'">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-fluid" src="../../../../assets/icons/storm.svg" alt="storm icon"/>
          </div>
          <div class="col-sm-9 text-center">
            <h5 class="crisis-text" >Extrem Wiederkonditionen</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body" [class.bg-danger]="infocrise.mass_casulties != 'good'">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-fluid" src="../../../../assets/icons/mass-casulties.svg" alt="mass casulties icon"/>
          </div>
          <div class="col-sm-9 text-center">
            <h5 class="crisis-text" >Plan Nombreuse Victims</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" [class.bg-danger]="infocrise.terror != 'good'">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-fluid" src="../../../../assets/icons/bomba.svg" alt="bomb icon"/>
          </div>
          <div class="col-sm-9 text-center">
            <h5 class="crisis-text" >Vigilnat</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" [class.bg-danger]="infocrise.ebola != 'good'">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-fluid" src="../../../../assets/icons/biohazard.svg" alt="biohazard icon"/>
          </div>
          <div class="col-sm-9 text-center">
            <h5 class="crisis-text" >Epidemie (Ebola)</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 alarm-news">
    <marquee></marquee>
  </div>
</div>