tr {
    font-size: 24px;
    height: 45px;
}

tr:first-child td {
    border-top: 0;
}

.stats {
    font-size: 20px;
    margin: -20px;
    padding: 0;
}

@media only screen and (max-width: 1600px) {
    tr {
        font-size: 20px;
        height: 30px;
    }
}

