<div class="bg-light p-3">
  <div class="text-center">
    <h3 class="text-dark">{{ vehicle.name }}</h3>
  </div>
  <div class="card">
    <div class="card-body">
      <div id="{{ carousel_id }}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let duty of dutyList let i = index" [ngClass]="{'active' : i == 0}">
            <div class="time-range text-center">
              <h4>{{ duty.start | date:"HH:mm" }} - {{ duty.end | date:"HH:mm" }}</h4>
            </div>
            <div class="">
              <table class="table table-sm">
                <tbody>
                <tr *ngFor="let member of duty.members">
                  <td width="15%" class="text-right">{{ member.id }}</td>
                  <td>{{ member.lastName }} {{ member.firstName }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#{{ carousel_id }}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#{{ carousel_id }}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div *ngIf="loadedStats" class="stats" >
        <marquee>
          {{ stats.vehicle }}:
          Letzten Asatz: {{ stats.last_intervention | timeAgo }} ({{ stats.last_intervention | date:'dd.MM.yy HH:mm:ss' }}) +++
          {{ stats.stats_timeline.interventions_today }} Äsatz vir haut +++
          {{ stats.stats_timeline.interventions_yesterday }} Äsatz geschter +++
          {{ stats.stats_timeline.interventions_this_week }} Äsatz vir des Woch +++
          {{ stats.stats_timeline.interventions_last_week }} Äsatz letzt Woch +++
          {{ stats.stats_timeline.interventions_this_month }} Äsatz dësen Mount +++
          {{ stats.stats_timeline.interventions_last_month }} Äsatz letzten Mount +++
          {{ stats.stats_timeline.intervention_this_year }} Äsatz fir dest Joer
        </marquee>
      </div>
    </div>
  </div>
</div>