<div class="bg-dark p-3">
  <div class="text-center">
    <h3 class="text-light">AMB1-Diekirch</h3>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="time-range text-center">
        <h4>16:00 - 18:00</h4>
      </div>
      <div class="">
        <table class="table table-sm">
          <tbody>
            <tr>
              <td width="15%" class="text-right">8038</td>
              <td>Peters Mike</td>
            </tr>
            <tr>
              <td class="text-right">502</td>
              <td>Wilwert Ted</td>
            </tr>
            <tr>
              <td class="text-right">11427</td>
              <td>Steffen Patrick</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="stats" >
        <marquee>Letzten Asatz: virun 25 Minuten (14:25:30) +++ 5 Äsatz vir haut +++ 27 Äsatz vir des Woch +++ 1459 Äsatz fir dest Joer</marquee>
      </div>
    </div>
  </div>
</div>