<div class="row p-3">
  <div class="col-sm-12">
    <div id="instagram_caroussel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let item of feed let i = index" [ngClass]="{'active' : i == 0}">
          <div class="row">
            <div class="col-sm-6">
              <img class="img-ig" [src]="item.image[0]" >
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 mb-3">
                  <img class="img-fluid img-circle" [src]="item.author.avatar">
                </div>
                <div class="col-sm-9 mb-3">
                  <h4 class="post-author-title">{{ item.author.full_name }}</h4>
                  <span class="post-author-subtitle">{{ item.author.username }}</span>
                </div>
                <div class="col-sm-4">
                  <h5><i class="fa fa-heart"></i> {{ item.likes }} </h5>
                </div>
                <div class="col-sm-8 text-right">
                  <h5>{{ item.created | timeAgo }} </h5>
                </div>
                <div class="col-sm-12">
                  <span>{{ item.caption }} - vun Instagram</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
