<!--The content below is only a placeholder and can be replaced.-->
<div style="overflow: hidden" class="container-fluid bg-light">
  <div style="margin-right: 0" class="row row-head">
    <div class="col-lg-4 col-md-12 order-lg-first m-0 p-0">
      <app-ambulance [vehicle]='vehicle[0]'></app-ambulance>
    </div>
    <div class="col-lg-4 col-md-12 order-md-first order-sm-first order-xl-first m-0 p-0">
      <app-clock></app-clock>
    </div>
    <div class="col-lg-4 col-md-12 m-0 p-0">
      <app-ambulance [vehicle]='vehicle[1]'></app-ambulance>
    </div>
  </div>
  <div style="margin-right: 0;" class="row row-middle">
    <div class="col-lg-4 col-md-12 order-lg-first m-0 p-0">
      <app-weather></app-weather>
    </div>
    <div style="margin-top: -8%" class="col-lg-4 col-md-12 order-md-first order-sm-first order-xl-first p-0">
      <app-firerescue></app-firerescue>
    </div>
    <div class="col-lg-4 col-md-12 m-0 p-0">
      <app-hospitals></app-hospitals>
    </div>
  </div>
  <div style="margin-right: 0;border-top: 5px solid red; border-bottom: 5px solid red" class="row mt-5">
    <div class="col-lg-4 col-md-12 m-0 p-0">
      <app-calendar></app-calendar>
    </div>
    <div class="col-lg-4 col-md-12 m-0 p-0">
      <app-infocrise></app-infocrise>
    </div>
    <div class="col-lg-4 col-md-12 m-0 p-0">
      <app-socialfeed></app-socialfeed>
    </div>
  </div>
  <div style="margin-right: 0;" class="row">
    <div class="col-md-12 m-0 p-0">
      <app-headlines></app-headlines>
    </div>
  </div>
</div>
<app-intervention></app-intervention>