<!--The content below is only a placeholder and can be replaced.-->
<div style="overflow: hidden" class="container-fluid bg-light">
  <div style="margin-right: 0" class="row row-head">
    <div class="col-lg-4 col-md-12 order-lg-first m-0 p-0">
      <app-ambulance [vehicle]='vehicle[0]'></app-ambulance>
    </div>
    <div class="col-lg-4 col-md-12 order-md-first order-sm-first m-0 p-0">
      <app-clock></app-clock>
    </div>
    <div class="col-lg-4 col-md-12 m-0 p-0">
      <app-ambulance [vehicle]='vehicle[1]'></app-ambulance>
    </div>
  </div>
  <div style="margin-right: 0; border-bottom: 5px solid red" class="row row-middle">
    <div class="col-lg-4 col-md-12 order-lg-first m-0 p-0">
      <app-weather></app-weather>
    </div>
    <div style="margin-top: -8%" class="col-lg-4 col-md-12 order-md-first order-sm-first p-0">
      <app-firerescue></app-firerescue>
    </div>
    <div class="col-lg-4 col-md-12 m-0 p-0">
      <app-hospitals></app-hospitals>
    </div>
  </div>
  <div style="margin-right: 0; border-bottom: 5px solid red" class="row row-middle">
    <div class="col-lg-4 col-md-12 m-0 p-0">
      <app-calendar></app-calendar>
    </div>
    <div class="col-lg-4 col-md-12 m-0 p-0">

    </div>
    <div class="col-lg-4 col-md-12 m-0 p-0">

    </div>
  </div>
</div>

