<div class="p-3">
  <div class="text-center" [ngClass]="{'text-light' : dark, 'text-dark' : !dark}">
    <h3>{{ vehicle.name }}</h3>
  </div>
  <div class="card">
    <div class="card-body text-dark">
      <div id="incsaCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let duty of duties let i = index" [ngClass]="{'active' : i == 0}">
            <div class="time-range text-center">
              <h4>{{ duty.start | date:"HH:mm" }} - {{ duty.end | date:"HH:mm" }}</h4>
            </div>
            <div class="row">
              <div class="col-md-6">
                <table class="table table-sm">
                  <tbody>
                  <tr *ngFor="let member of duty.members_even">
                    <td width="15%" class="text-right">{{ member.id }}</td>
                    <td>{{ member.lastName }} {{ member.firstName }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table table-sm">
                  <tbody>
                  <tr *ngFor="let member of duty.members_odd">
                    <td width="15%" class="text-right">{{ member.id }}</td>
                    <td>{{ member.lastName }} {{ member.firstName }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="loadedStats" class="stats">
        <marquee>
          {{ stats.vehicle }}:
          Letzten Asatz: {{ stats.last_intervention | timeAgo }} ({{ stats.last_intervention | date:'dd.MM.yy HH:mm:ss' }}) +++
          {{ stats.stats_timeline.interventions_today }} Äsatz vir haut +++
          {{ stats.stats_timeline.interventions_yesterday }} Äsatz geschter +++
          {{ stats.stats_timeline.interventions_this_week }} Äsatz vir des Woch +++
          {{ stats.stats_timeline.interventions_last_week }} Äsatz letzt Woch +++
          {{ stats.stats_timeline.interventions_this_month }} Äsatz dësen Mount +++
          {{ stats.stats_timeline.interventions_last_month }} Äsatz letzten Mount +++
          {{ stats.stats_timeline.intervention_this_year }} Äsatz fir dest Joer
        </marquee>
      </div>
    </div>
  </div>
</div>