<div class="bg-dark p-3">
  <div class="text-center">
    <h3 class="text-light">INCSA-Diekirch</h3>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="time-range text-center">
        <h4>16:00 - 18:00</h4>
      </div>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-sm">
            <tbody>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-sm">
            <tbody>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            <tr>
              <td width="15%" class="text-right">0</td>
              <td>Test</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="stats">
        <marquee>
          Letzten Asatz: virun 2 Deeg (14:25:30) +++
          4 Äsatz vir des Woch +++
          240 Äsatz fir dest Joer
        </marquee>
      </div>
    </div>
  </div>
</div>