<div class="bg-light p-3">
  <div class="row text-center">
    <div *ngFor="let hospital of hospitals" class="col-4 border-right mb-4 mt-4">
      <div class="align-items-start">
        <h4>{{ hospital.region }}</h4>
      </div>
      <div style="height: 115px" class="align-items-center">
        <img class="img-fluid" src="../../../../assets/logos/hospitals/logo_{{ hospital.name | lowercase }}.png" alt="Logo Chdn" />
      </div>
      <div class="align-items-end">
        <p>{{ hospital.name }}<br/>{{ hospital.location }}</p>
      </div>
    </div>
  </div>
</div>