<div class="row pr-2 pl-2 pb-2 pt-0">

  <div class="breaking-news">
    <h2 class="news-title">Breaking News</h2>
    <div class="news-content">
      <div class="tickercontainer">
        <div class="mask">
          <ul class="news-ticker">
            <li *ngFor="let news of headlines">
              <div *ngIf="news.media" class="news-item">
                <img [src]="news.media" >
              </div>
              <h3 class="ticker-title"><a>{{ news.title }}</a></h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(".news-ticker").webTicker();
  </script>




  <!--<div class="breaking-news-title">
    <strong class="news-text">Breaking News: </strong>
  </div>

  <div *ngIf="loaded_headlines" class="col-md-10 news-text">
    <marquee scrolldelay="15">
      <strong>HEADLINES: </strong>
      <span *ngFor="let headline of headlines">{{ headline.title }} - {{ headline.source }} +++ </span>
    </marquee>



  </div>-->
</div>

